.container {
    /* width: 100%; */
    margin: auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
        -23px 0 20px -23px rgba(0, 0, 0, 0.8),
        23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
@media screen and (min-width: 375px) {
    .container {
        width: 330px;
        /* padding: 30px 8px; */
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 690px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 690px;
    }
}
@media screen and (max-width: 767px) {
    .container {
        padding: 8px;
    }
}
